.car{
    
    align-content: center;
    background-image: url(../../imgs/bg.jpg);
}
.car img{
    padding: 40px;
    border-radius: 50px;
    margin-top: 10vh;
    height: 90vh;
    width: auto;
}

.car .title h2{
    display: flex;
    padding-top: 20%; 
    padding-left: 20%;
    background: white;
    border-radius: 10px;
    color: black;
}
