.car{
    align-content: center;
    background:linear-gradient(to right, #1f0241, rgb(48, 11, 11));
}
.car img{
    padding: 40px;
    border-radius: 50px;
    margin-top: 10vh;
    height: 90vh;
    width: auto;
}
.car h4{
    margin-top: 100px;
    padding: 5px;
    background: white;
    border-radius: 10px;
    color: black;
}