header{
	position: fixed;
	width: 100%;
    height: 10vh;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background:rgb(226, 47, 83);
	padding: 15px 9%;
	transition-duration: .6s;
}
img{
    height: auto;
    width: 150px;
}
.navbar{
	text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.navbar a{
    position: relative;
	color: rgb(232, 241, 235);
	font-weight: bold;
	font-size: 1.02rem;
	padding: 10px 20px;
}
.navbar a::after{
	content: '';
	position: absolute;
	width: 0;
	height: 2px;
	background-color: aqua;
	left: 0;
	bottom: 2px;
	transition: ease .4s;
}
.navbar a:hover:after{
	width: 100%;
}
header .sticky{
	padding: 0px 9%;
	color:rgb(226, 47, 83)
}
.sticky .navbar a{
	color: rgb(184, 174, 174);
}
.sticky .navbar a::after{
	background: #6650c9;
}