.footer{
    height: 10vh;
	text-align: center;
	background: #494949;
	padding: 20px;
}
.footer p{
	font-size: 15px;
	color: #cfedf2;
	letter-spacing: 2px;
}
.copy-right{
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
}
.copy-right a{
    text-decoration: none;
    color: rgb(82, 172, 214);
}
.copy-right a:hover{
    color: rgb(223, 205, 205);
}