update{
    margin-top: 10vh;
    height: 90vh;
    padding: 5vh 30%;
    background: url(../../imgs/bgs/background14.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}